@font-face{
    src: url(../fonts/Poiret_One/PoiretOne-Regular.ttf);
    font-family: PoiretOne;
}

@font-face{
    src: url(../fonts/Fira_Sans/FiraSans-Regular.ttf);
    font-family: FiraSans;
}

body{
    background-color: white;
}

h1, h2, h3, h4, h5, h6{
    font-family: PoiretOne;
}

p, div{
    font-family: FiraSans;
}

.text-brown{
    color: #82674D;
}

.text-midnight-blue{
    color: #2c3e50;
}

.text-crimson{
    color: #a20025;
}

.PoiretOne{
    font-family: PoiretOne;
}

.FiraSans{
    font-family: FiraSans;
}

.navbar-brand{
    font-size: 20px;
    font-weight: bold;
    font-family: FiraSans;
}

#notebook-description h1{
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: bold;
}

#notebook-description .notebook-right{
    margin-top: 100px;
}

#notebook-description .notebook-left img {
    margin-top: 20px;
    height: 400px;
}

#info1 .section-left{
    margin-top: 80px;
}

#info1 .section-right{
    margin-top: 80px;
}

.btn-github {
    color: #fff;
    background-color: #222222;
    border-color: #222222;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

#contribution{
    background-color: #82674D;
}
